<div class="container vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div cla></div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Faça o login</h4>
        <form (ngSubmit)="autenticar()">
          <div *ngIf="erro !== ''" class="shadow p-2 mb-2 rounded text-center" style="background-color:#FFD7D7;">
            <small class="text-danger">{{erro}}</small>
          </div>

          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Digite o usuário" [(ngModel)]="login.usuario">
            <small *ngIf="validaUsuario" class="text-danger">Obrigatório</small>
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite a senha" [(ngModel)]="login.senha">
            <small *ngIf="validaSenha" class="text-danger">Obrigatório</small>
          </div>

          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
