<div *ngIf="msg !== ''" class="shadow p-2 mb-2 rounded text-center" style="background-color:#DFDFDF;">
  <p class="text-info">{{msg}}</p>
</div>
<div class="container my-5" *ngIf="!carregando">
  <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="semRegistro">
    <h3 class="display-5 text-center mt-5">Nenhum registro encontrado!</h3>
  </div>
  <div class="container" *ngIf="!semRegistro">
    <div class="row justify-content-center my-5">
      <h4 class="card-title text-center">Lista de produtos</h4>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Imagem</th>
            <th scope="col" class="align-middle text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of produtos">
            <th scope="row" class="align-middle">{{ prd.nome }}</th>
            <td class="align-middle">R$ {{ prd.valor | currency:'BRL':'':'0.2':'pt'}}</td>
            <td class="align-middle">
              <img src="assets/no-image.jpg" class="img-fluid rounded float-left img-maxsize" *ngIf="prd.imagem === null">
              <img src="/img/produtos/{{ prd.imagem }}" class="img-fluid rounded float-left img-maxsize" *ngIf="prd.imagem !== null">
            </td>
            <td class="align-middle text-center">
              <a class="btn btn-primary m-1" [routerLink]="['/produto-editar', prd.id]">Editar</a>
              <button class="btn btn-danger m-1" (click)="Deletar(prd.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
