<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">Site Mercado</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/produtos']" routerLinkActive="active" >Produtos</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/produto-novo']" routerLinkActive="active" >Novo Produto</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
    </div>
  </div>
</nav>
