<div *ngIf="msg !== ''" class="shadow p-2 mb-2 rounded text-center" style="background-color:#DFDFDF;">
  <p class="text-info">{{msg}}</p>
</div>
<div class="container"  *ngIf="!carregando">
  <div class="row justify-content-center my-5">
    <div class="card-body">
      <h4 class="card-title text-center">Editar produto '{{produto.nome}}'</h4>
      <form>
        <div class="row justify-content-center">
          <div class="card">
            <div class="card-body">
              <img src="assets/no-image.jpg" class="img-fluid rounded mb-2 img-maxsize" *ngIf="caminhoImagem === null">
              <img src="{{ caminhoImagem }}" class="img-fluid rounded mb-2 img-maxsize" *ngIf="caminhoImagem !== null">
              <div class="row justify-content-center">
                <button (click)="removerImg()" class="btn btn-danger rounded" *ngIf="caminhoImagem !== null">Remover</button>
              </div>
            </div>
          </div>
        </div>
        <label for="Imagem">Imagem</label>
        <div class="custom-file">
          <label class="custom-file-label" for="imgFile">Escolha a imagem</label>
          <input type="file" class="custom-file-input" name="imgFile" id="imgFile"
                 accept="image/jpeg,image/jpg,image/JPEG,image/JPG" #imgFile
                 (change)="processarImg(imgFile)">
          <small class="text-info">Imagem no formato JPG ou JPGE.</small>
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="Nome" placeholder="Digite o nome" [(ngModel)]="produto.nome">
          <small *ngIf="validaNome" class="text-danger">Obrigatório</small>
        </div>

        <div class="form-group">
          <label for="Valor">Valor</label>
          <input type="number" class="form-control" name="Valor" placeholder="Digite o valor" [(ngModel)]="produto.valor">
          <small *ngIf="validaValor" class="text-danger">Obrigatório</small>
        </div>
        <div class="text-right">
          <button class="btn btn-primary m-1" [routerLink]="['/produtos']">Voltar</button>
          <button type="submit" class="btn btn-primary m-1" (click)="salvar()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
